@model MetersWebApp.Models.Meter

@{
    ViewData["Title"] = "Create new meter";
}

<h4>Meter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCp" class="control-label"></label>
                <input asp-for="IdCp" class="form-control" />
                <span asp-validation-for="IdCp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCs" class="control-label"></label>
                <input asp-for="IdCs" class="form-control" />
                <span asp-validation-for="IdCs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTrafo" class="control-label"></label>
                <input asp-for="IdTrafo" class="form-control" />
                <span asp-validation-for="IdTrafo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Meters" asp-action="Index">Back to List</a>
</div>

