@model MetersWebApp.Models.Meter

@await Html.PartialAsync("_Meter")

    <div style="display: flex;justify-content: center;">
        <button>Collect readings</button>&nbsp;&nbsp;
        <button>Power on</button>&nbsp;&nbsp;
        <button>Power off</button>
    </div>